<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstName %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @patient.surName %>
</p>

<p>
  <strong>Mrn:</strong>
  <%= @patient.mrn %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Dx:</strong>
  <%= @patient.dx %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @patient.allergies %>
</p>

<p>
  <strong>Consultant:</strong>
  <%= @patient.consultant %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @patient.ward %>
</p>

<p>
  <strong>Admitnote:</strong>
  <%= @patient.admitNote %>
</p>

<p>
  <strong>Rad1:</strong>
  <%= @patient.rad1 %>
</p>

<p>
  <strong>Rad2:</strong>
  <%= @patient.rad2 %>
</p>

<p>
  <strong>Rad3:</strong>
  <%= @patient.rad3 %>
</p>

<p>
  <strong>Rad4:</strong>
  <%= @patient.rad4 %>
</p>

<p>
  <strong>Ex1:</strong>
  <%= @patient.ex1 %>
</p>

<p>
  <strong>Ex2:</strong>
  <%= @patient.ex2 %>
</p>

<p>
  <strong>Ex3:</strong>
  <%= @patient.ex3 %>
</p>

<p>
  <strong>Ex4:</strong>
  <%= @patient.ex4 %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
